body{
    background: #F8EDED	;
}
.left{
    margin-left: -30px;
    width: 310px;
    height: 400px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
    background: #EBADAD;
}
.left ul li:hover{
    background: #414141;
    color: #EED343;
}


.left ul li:active{
    background: #414141;
    color: #EED343;
}
a{
    text-decoration: none;
    color: green;
}

.right{
    margin-left: 20px;
}

.right1{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}
.right2{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}
.right3{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}
.right4{
    width: 200px;
    height:150px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}
.right5{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}
.right6{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    box-shadow: 5px 10px #888888;
}
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#414141;
   color: white;
   text-align: center;
}