<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Admin Portal</title>

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="/css/registration.css" rel="stylesheet" media="all">
</head>

<body>
    <span style="display: none" id="success">
        <%=success%>
    </span>
    <span style="display: none" id="failure">
        <%=failure%>
    </span>

    <div id="form1" class="page-wrapper  bg-dark p-t-100 p-b-50" style="background-color: #EBEEEF; ">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title" style="color: black">Create Id-Card Details</h2>
                </div>
                <div class="card-body">


                    <form id="one" action="/postsetid" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="name">Upload School Logo</div>
                            <div class="value">
                                <div class="input-group">
                                    <label for="" style="color:orange"><h4>Note only Png and Jpeg images allowed</h4></label>
                                    <input class="input--style-6" type="file" name="passport">
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="name">School Name</div>
                            <div class="value">
                                <input class="input--style-6" type="text" name="schoolName" placeholder="School Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">School Address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" name="address" placeholder="School Address">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">School Motto</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" name="motto" placeholder="School Motto">
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="name">Id Card Validity</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" name="validity" placeholder="Validity">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-row">
                            <div class="name">Select Id Card Color</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="jscolor" value="ab2567" name="color">
                                </div>
                            </div>
                        </div> -->
                        

                        <div class="form-row">
                            <div class="name">Upload Head Teacher Signature</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="file" name="sign">
                                </div>
                            </div>
                        </div>


                        <div class="form-row">

                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="hidden" value="HEAD" name="role">
                                </div>

                            </div>



                            <div class="card-footer">
                                <button class="btn btn--radius-2 btn--blue-2" type="submit">Submit</button>
                            </div>

                    </form>

                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary"><a href="/primarydashboard/updateid">Click to update data</a>  </button>
        <button class="btn btn-primary" style="float: right"><a href="/primarydashboard">Back to dashboard</a>  </button>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
        <!-- Other js files -->
        <script src="plugins/jQuery/bootstrap.min.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <script src="plugins/jQuery/bootstrap.min.js"></script>




        <script type="text/javascript">
            if ($.trim($('#success').text()).length !== 0) {
                alert("<%=success%>")
            }

            if ($.trim($('#failure').text()).length !== 0) {
                alert("<%=failure%>")
            }
        </script>


        </script>
        <!-- Jquery JS-->
        <script src="/vendor/jquery/jquery.min.js"></script>


        <!-- Main JS-->
        <script src="/js/registration.js"></script>

        <!-- jscolor -->
        <script src="/js/jscolor.js"></script>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->